@import url("https://fonts.googleapis.com/css?family=Google+Sans:400,500&lang=en");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
:root {
  --cool-grey-10: hsl(210, 24%, 16%);
  --cool-grey-9: hsl(209, 20%, 25%);
  --cool-grey-8: hsl(209, 18%, 30%);
  --cool-grey-7: hsl(209, 14%, 37%);
  --cool-grey-6: hsl(211, 12%, 43%);
  --cool-grey-5: hsl(211, 10%, 53%);
  --cool-grey-4: hsl(211, 13%, 65%);
  --cool-grey-3: hsl(210, 16%, 82%);
  --cool-grey-2: hsl(214, 15%, 91%);
  --cool-grey-1: hsl(216, 33%, 97%);
  --light-blue-7: hsl(201, 79%, 46%);
  --light-blue-6: hsl(199, 84%, 55%);
  --light-blue-1: hsl(195, 100%, 95%);
}

body {
  font-family: "Google Sans", sans-serif !important;
}
/* 
* HEADER
*/
header {
  display: flex;
  justify-content: center;
  background-color: hsl(209, 20%, 25%);
}

header p {
  color: var(--cool-grey-5) !important;
  font-weight: 500;
  font-size: 24px;
  margin-top: 12px;
}

header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  header p {
    font-size: 20px;
  }
  h1 {
    font-size: 36px !important;
  }
  h3 {
    font-size: 24px !important;
  }
}

#nav-text {
  font-family: "Google Sans", sans-serif !important;
  font-weight: 500 !important;
  font-size: 1.5rem;
}

#nav-home > span {
  font-family: "Google Sans", sans-serif !important;
  position: relative;
  top: 6px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

#nav-home span:hover {
  color: #fff;
}

/* 
* BLOG PAGE
*/

.blog-page {
  background-color: var(--cool-grey-1);
}

.main-card {
  margin: 48px 8px;
  padding: 4px 24px 32px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
  max-width: 672px;
}

.blog-page .post {
  margin-bottom: 64px;
}

.blog-page h3 {
  margin-bottom: 8px;
  color: var(--cool-grey-8);
}

.blog-page p {
  margin-top: 12px;
  font-family: "Google Sans", sans-serif;
  color: var(--cool-grey-7);
}

.blog-page small {
  color: var(--cool-grey-4);
}

.blog-page a {
  color: #000;
  text-decoration: none;
}

.blog-page .reading-time {
  color: hsla(201, 79%, 46%, 0.9);
}

/* 
* BLOG TEMPLATE
*/

.blog-template {
  margin: 0 0;
}

.blog-template > h1 {
  color: var(--cool-grey-9);
  line-height: 1.2;
  margin-bottom: 8px;
  margin-top: 16px;
}

.blog-template small {
  font-size: 18px;
  color: var(--cool-grey-5);
}

.blog-content {
  margin-top: 32px;
  margin-bottom: 24px;
}

.blog-content h1 {
  font-size: 2rem;
}

.blog-content img {
  max-width: 100%;
  height: auto;
}

.blog-template p,
li {
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 1.3rem !important;
  color: var(--cool-grey-8);
  margin-bottom: 48px;
}

.blog-template p {
  line-height: 1.8;
}

.blog-template li {
  line-height: 2.2;
}

.blog-template h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;
  color: #000 !important;
  max-width: 100%;
  font-family: "Roboto", sans-serif !important;
}

.blog-content h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 18px !important;
  margin-top: 56px !important;
}

.blog-template ul,
ol {
  margin-top: -24px !important;
  padding: 0 !important;
  margin: 0 0 1.45rem 1.45rem !important;
  list-style-position: outside !important;
  list-style-image: none !important;
}

.blog-template a {
  color: var(--cool-grey-6);
  text-decoration: underline;
}

.blog-content blockquote {
  margin-left: 0;
  border-left: solid 0.25em var(--cool-grey-3);
}

.blog-content blockquote p {
  color: var(--cool-grey-6);
  margin: 0 1.45rem 1.45rem 24px;
  font-size: 1.1rem;
  line-height: 1.65;
}

.blog-content th,
td {
  font-family: "Roboto", sans-serif;
}

.blog-content a {
  color: #333;
}

.page-btns {
  display: flex;
  position: relative;
  top: 24px;
  justify-content: space-between;
  margin-bottom: 48px;
  color: var(--cool-grey-10) !important;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .blog-template h1 {
    font-size: 1.9rem !important;
  }

  .blog-template h4 {
    font-size: 0.9rem;
  }

  .blog-template h2 {
    font-size: 1.4rem;
  }
  .blog-template h3 {
    font-size: 1.2rem;
  }

  .blog-template p,
  li {
    font-size: 1rem !important;
  }

  .blog-template code {
    font-size: 0.8rem !important;
  }

  .blog-template > a {
    font-size: 18px;
    color: var(--n-700-color);
  }

  .blog-template > a:hover {
    font-size: 18px;
    text-decoration: none;
  }

  .blog-template {
    margin: 0 24px;
  }
}

/* 
*Footer 
*/

footer {
  padding: 96px 0 96px !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--cool-grey-6);
}

footer a {
  color: var(--cool-grey-6) !important;
}

footer img {
  margin: 8px;
}

#insta {
  position: relative;
  top: 8px;
  left: -8px;
}

/**
 * Based on copypasta from Remy Bach and Sarah Drasner
 */
code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: none;
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  margin-bottom: 0;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
  padding: 1.3125rem;
}

pre[class*="language-"]::-moz-selection {
  /* Firefox */
  background: hsl(207, 4%, 16%);
}

pre[class*="language-"]::selection {
  /* Safari */
  background: hsl(207, 4%, 16%);
}

/* Text Selection colour */
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: 0.3em;
  background: var(--inlineCode-bg);
  color: var(--inlineCode-text);
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
}

.token.attr-name {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.token.comment {
  color: rgb(128, 147, 147);
}

.token.string,
.token.url {
  color: rgb(173, 219, 103);
}

.token.variable {
  color: rgb(214, 222, 235);
}

.token.number {
  color: rgb(247, 140, 108);
}

.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: rgb(130, 170, 255);
}

.token.punctuation {
  color: rgb(199, 146, 234);
}

.token.selector,
.token.doctype {
  color: rgb(199, 146, 234);
  font-style: "italic";
}

.token.class-name {
  color: rgb(255, 203, 139);
}

.token.tag,
.token.operator,
.token.keyword {
  color: #ffa7c4;
}

.token.boolean {
  color: rgb(255, 88, 116);
}

.token.property {
  color: rgb(128, 203, 196);
}

.token.namespace {
  color: rgb(178, 204, 214);
}

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}

.gatsby-highlight-code-line {
  background-color: hsla(207, 95%, 15%, 1);
  display: block;
  margin-right: -1.3125rem;
  margin-left: -1.3125rem;
  padding-right: 1em;
  padding-left: 1.25em;
  border-left: 0.25em solid #ffa7c4;
}

.gatsby-highlight {
  margin-bottom: 1.75rem;
  margin-left: -1.3125rem;
  margin-right: -1.3125rem;
  border-radius: 10px;
  background: #011627;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

@media (max-width: 672px) {
  .gatsby-highlight {
    border-radius: 0;
  }
}

.gatsby-highlight pre[class*="language-"] {
  float: left;
  min-width: 100%;
}
