@import url("https://fonts.googleapis.com/css?family=Google+Sans:500&lang=en");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

* {
  box-sizing: border-box;
}

/* 
* BLOG PAGE
*/

.blog-page .blog-info {
  margin: 48px 0 64px 0;
  font-family: "Google Sans", sans-serif;
}

.blog-page .post {
  margin-bottom: 64px;
  font-family: "Roboto", sans-serif;
}

.blog-page h3 {
  margin-bottom: 8px;
}

.blog-page p {
  margin-top: 18px;
  font-family: "Google Sans", sans-serif;
}

.blog-page small {
  color: hsl(0, 0%, 40%);
}

.blog-page a {
  color: #000;
  text-decoration: none;
}
